<title>Answer generation</title>
<!-- <div id="robotPic"></div> -->

<div class="jumbotron">
  <h1 class="display-3">HỆ THỐNG ĐỀ CỬ CÂU HỎI</h1>
  <h3 class="display-4">Multiple-Choice Question Generation</h3>
</div>
<app-question-generation> </app-question-generation>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<!-- <div class="text-center center-block">
    <hr />
    <a href="https://github.com/KristiyanVachev/Question-Generation-Transformers"><i class="fa fa-github fa-3x social"></i></a>
    <a href="mailto:typhon04@gmail.com"><i class="fa fa-envelope-square fa-3x social"></i></a>
</div> -->